@charset "utf-8";
/* CSS Document */

/* ==========================================================================
   General Styles
   ========================================================================== */
   
	.clearfix:before, .clearfix:after {
	  content: "";
	  display: table;
	}
	 
	.clearfix:after {
	  clear: both;
	}
	 
	.clearfix {
	  zoom: 1; /* ie 6/7 */
	}
	
	.simply-etsy, .simply-etsy * {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	
	.simply-etsy__header {
		border-bottom: 3px solid #AAA;
		margin-bottom: 15px;
		padding-bottom: 15px;
	}

	.simply-etsy__listing-container {

	}
	
	.simply-etsy__listing {
		float: left;
		padding: 5px;
		width: 20%;
	}
	
	.simply-etsy__listing-inner {
		border: 2px solid #DDD;
		padding: 5px;
	}

	.simply-etsy__listing-image {
		margin: 0;
	}
	
	.simply-etsy__listing-image a {
		display: inline-block;
		width: 100%;
	}
	
	.simply-etsy__listing-image img {
		width: 100%;
		height: auto;
	}
	
	.simply-etsy__listing-price {
		float: right;
		font-weight: bold;
		text-align: right;
		display: inline-block;
		white-space: nowrap;
	}
	
	.simply-etsy__currency-code {
		font-size: .8em;
	}
	
	.simply-etsy__listing-shop {
		float: left;
	}
	
	.simply-etsy__listing-shop a {
		color: #888;
		text-decoration: underline;
	}
	
	.simply-etsy__listing-title {
		font-size: 15px;
		font-weight: bold;
		line-height: 30px;
		height: 30px;
		white-space: nowrap;
		overflow: hidden;
		-webkit-text-overflow: ellipsis;
		-moz-text-overflow: ellipsis;
		text-overflow: ellipsis;
	}
	
	.simply-etsy__navigation {
		list-style: none;
		margin: 20px auto;
		text-align: center;
	}
	
	.simply-etsy__navigation li {
		display: inline-block;
		margin: 5px 5px;
	}
	
	.simply-etsy__navigation li a {
		background-color: #FFF;
		border: 1px solid #AAA;
		color: #000;
		display: block;
		font-size: 18px;
		font-weight: bold;
		line-height: 18px;
		padding: 10px 15px;
		text-align: center;
		text-decoration: none;
	}
	
	.simply-etsy__navigation li a.active {
		background-color: #DDD;
		border: 1px solid #555;
	}
   
   @media screen and (max-width:991px) {
		.simply-etsy__listing {
			width: 25%;
		}
	}
	
	@media screen and (max-width:675px) {
		.simply-etsy__listing {
			width: 33.33%;
		}
	}
	@media screen and (max-width:475px) {
		.simply-etsy__listing {
			width: 50%;
		}
	}
	
/* ==========================================================================
   Dark Theme
   ========================================================================== */
   
   .simply-etsy--dark a {
	   color: #FFF;
   }
	
	.simply-etsy--dark .simply-etsy__header {
		color: #DDD;
	}
	
	.simply-etsy--dark .simply-etsy__listing-inner {
		background: rgba(0,0,0,.5);
		border: 2px solid #777;
	}
	
	.simply-etsy--dark .simply-etsy__listing-price {
		color: #DDD;
	}
	
	.simply-etsy--dark .simply-etsy__listing-shop a {
		color: #BBB;
	}
	
	.simply-etsy--dark .simply-etsy__listing-title {
		color: #DDD;
	}
	
	.simply-etsy--dark .simply-etsy__navigation li a {
		background: rgba(0,0,0,.5);
		border: 1px solid rgba(255,255,255,.3);
		color: #DDD;
	}
	
	.simply-etsy--dark .simply-etsy__navigation li a.active {
		background-color: rgba(255,255,255,.4);
		border: 1px solid rgba(255,255,255,.5);
	}
	
/* ==========================================================================
   Light Theme
   ========================================================================== */
	
	.simply-etsy--light a {
		color: #888;
	}
	
	.simply-etsy--light .simply-etsy__listing-inner {
		border: 2px solid #DDD;
	}
	
	.simply-etsy--light .simply-etsy__listing-shop a {
		color: #777;
	}
	
	.simply-etsy--light .simply-etsy__navigation li a {
		background: rgba(255,255,255,.5);
		border: 1px solid rgba(0,0,0,.3);
		color: #000;
	}
	
	.simply-etsy--light .simply-etsy__navigation li a.active {
		background-color: rgba(0,0,0,.25);
		border: 1px solid #555;
	}
	
/* ==========================================================================
   Loading Styles
   ========================================================================== */
   
   .simply-etsy__loading {
	   margin: auto;
	   padding: 50px;
	   text-align: center;
   }
   
	@-moz-keyframes loading {
	  0% {
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
	  }
	  100% {
		-moz-transform: rotate(360deg);
		transform: rotate(360deg);
	  }
	}
	
	@-webkit-keyframes loading {
	  0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	  }
	  100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	  }
	}
	
	@keyframes loading {
	  0% {
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	  }
	  100% {
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	  }
	}
	
	/* :not(:required) hides this rule from IE9 and below */
	
	.loading:not(:required) {
	  -moz-animation: loading 1500ms infinite linear;
	  -webkit-animation: loading 1500ms infinite linear;
	  animation: loading 1500ms infinite linear;
	  -moz-border-radius: 0.5em;
	  -webkit-border-radius: 0.5em;
	  border-radius: 0.5em;
	  -moz-box-shadow: rgba(100, 100, 100, 0.9) 1.5em 0 0 0, rgba(100, 100, 100, 0.9) 1.1em 1.1em 0 0, rgba(100, 100, 100, 0.9) 0 1.5em 0 0, rgba(100, 100, 100, 0.9) -1.1em 1.1em 0 0, rgba(100, 100, 100, 0.9) -1.5em 0 0 0, rgba(100, 100, 100, 0.9) -1.1em -1.1em 0 0, rgba(100, 100, 100, 0.9) 0 -1.5em 0 0, rgba(100, 100, 100, 0.9) 1.1em -1.1em 0 0;
	  -webkit-box-shadow: rgba(100, 100, 100, 0.9) 1.5em 0 0 0, rgba(100, 100, 100, 0.9) 1.1em 1.1em 0 0, rgba(100, 100, 100, 0.9) 0 1.5em 0 0, rgba(100, 100, 100, 0.9) -1.1em 1.1em 0 0, rgba(100, 100, 100, 0.9) -1.5em 0 0 0, rgba(100, 100, 100, 0.9) -1.1em -1.1em 0 0, rgba(100, 100, 100, 0.9) 0 -1.5em 0 0, rgba(100, 100, 100, 0.9) 1.1em -1.1em 0 0;
	  box-shadow: rgba(100, 100, 100, 0.9) 1.5em 0 0 0, rgba(100, 100, 100, 0.9) 1.1em 1.1em 0 0, rgba(100, 100, 100, 0.9) 0 1.5em 0 0, rgba(100, 100, 100, 0.9) -1.1em 1.1em 0 0, rgba(100, 100, 100, 0.9) -1.5em 0 0 0, rgba(100, 100, 100, 0.9) -1.1em -1.1em 0 0, rgba(100, 100, 100, 0.9) 0 -1.5em 0 0, rgba(100, 100, 100, 0.9) 1.1em -1.1em 0 0;
	  display: inline-block;
	  font-size: 10px;
	  width: 1em;
	  height: 1em;
	  margin: 1.5em;
	  overflow: hidden;
	  text-indent: 100%;
	}